<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yehyunryu.android.socialweather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.yehyunryu.android.socialweather.analytics.AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- if facebook app is not available, opens facebook through browser -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yehyunryu.android.socialweather.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yehyunryu.android.socialweather.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.yehyunryu.android.socialweather.AboutUsActivity"
            android:label="@string/activity_title_about_us"
            android:launchMode="singleTop"
            android:parentActivityName="com.yehyunryu.android.socialweather.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yehyunryu.android.socialweather.MainActivity" />
        </activity>
        <activity
            android:name="com.yehyunryu.android.socialweather.PrivacyPolicyActivity"
            android:label="@string/activity_title_privacy_policy"
            android:launchMode="singleTop"
            android:parentActivityName="com.yehyunryu.android.socialweather.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yehyunryu.android.socialweather.MainActivity" />
        </activity>
        <activity
            android:name="com.yehyunryu.android.socialweather.ForecastActivity"
            android:label="@string/activity_title_forecast"
            android:launchMode="singleTop"
            android:parentActivityName="com.yehyunryu.android.socialweather.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yehyunryu.android.socialweather.MainActivity" />
        </activity>
        <activity
            android:name="com.yehyunryu.android.socialweather.DetailsActivity"
            android:label="@string/activity_title_details"
            android:launchMode="singleTop"
            android:parentActivityName="com.yehyunryu.android.socialweather.ForecastActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yehyunryu.android.socialweather.ForecastActivity" />
        </activity>
        <activity
            android:name="com.yehyunryu.android.socialweather.AccountActivity"
            android:launchMode="singleTop" />

        <!-- Content Provider -->
        <provider
            android:name="com.yehyunryu.android.socialweather.data.WeatherProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <!-- Immediate Sync Service -->
        <service
            android:name="com.yehyunryu.android.socialweather.sync.WeatherSyncIntentService"
            android:exported="false" />

        <!-- Schedule Sync Service -->
        <service
            android:name="com.yehyunryu.android.socialweather.sync.FacebookWeatherFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name="com.yehyunryu.android.socialweather.sync.AccountKitWeatherFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!-- Widget -->
        <receiver android:name="com.yehyunryu.android.socialweather.widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name="com.yehyunryu.android.socialweather.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name="com.yehyunryu.android.socialweather.widget.WidgetUpdateService" />

    </application>

</manifest>